@import '../../../sass/main.scss';
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  opacity: 0.9;
  background: $darkColor;
  color: #fff;
  ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  a {
    color: #fff;
    padding: 0.45rem;
    transition: all 300ms linear;
    &.active {
      color: $primaryColor;
    }
  }
}
