@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap');

/* Global Styles */
$primaryColor: #22909e;
$darkColor: #333;
$lightColor: #f4f4f4;
$whiteColor: #fff;
$greyColor: #888;
$dangerColor: #bb0114;
$successColor: #15b63a;
$scrollbarBG: #444;

html {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $whiteColor;
  color: $darkColor;
  scrollbar-width: thin;
  scrollbar-color: #000 $scrollbarBG;
  overflow: scroll;
}

body::-webkit-scrollbar-track {
  background: $scrollbarBG;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 7px;
  border: 3px solid $scrollbarBG;
}

a {
  color: $darkColor;
  text-decoration: none;
}

a:hover {
  color: $primaryColor;
  opacity: 0.8;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1600px;
  margin: auto;
  padding: 4rem 2rem;
}

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 700px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (max-width: 960px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (max-width: 1400px) {
    @content;
  }
}
@mixin mediaVert {
  @media screen and (max-height: 400px) {
    @content;
  }
}
