@import 'config.scss';

@include mediaXl {
}

@include mediaLg {
  .footer {
    height: 100%;
  }
}

@include mediaMd {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
    ul {
      justify-content: space-evenly;
    }
    a {
      margin: 0;
    }
  }

  /* Home */

  .banner {
    height: 16vh;
  }

  .wrapping {
    text-align: center;
  }

  /* Footer */
  .footer {
    padding: 1rem;
    .foot-icons {
      grid-column: span 3;
      padding: 0;
    }
    .foot-info {
      grid-template-columns: 1fr 1fr;
      grid-column: span 3;
      text-align: center;
      border: none;
    }
    :nth-child(3) {
      grid-column: 1 / 3;
      justify-self: center;
    }
  }
}

@include mediaSm {
  .container {
    padding: 1.5rem 0;
  }
  .hero {
    h1 {
      padding: 0 2rem;
    }
  }
  .banner {
    justify-content: space-evenly;
    font-size: 0.8rem;
    i {
      font-size: 1.7rem;
      padding-bottom: 0.3rem;
    }
    .list {
      h4 {
        line-height: 1.2;
        padding-bottom: 0.1rem;
      }
      h6 {
        line-height: 1.4;
      }
    }
  }
}
