@import 'config.scss';

@include mediaXl {
}

@include mediaLg {
  .footer {
    height: 100%;
  }
}

@include mediaMd {
  .hide-sm {
    display: none;
  }

  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Home */

  .hero h1 {
    font-size: 2rem;
  }

  .banner {
    height: 16vh;
    margin-bottom: 1.5rem;
    i {
      font-size: 1.5rem;
    }
  }

  .banner-secondary {
    font-size: 0.8rem;
  }

  .wrapping {
    text-align: center;
  }

  /* Footer */
  .footer {
    .foot-info {
      grid-column: span 1;
      div {
        margin: auto;
      }
    }
    > :nth-child(3) {
      grid-column: span 1;
      display: block;
      text-align: center;
    }
  }
}

@include mediaSm {
  .container {
    padding: 1.5rem 0;
  }

  .navbar {
    font-size: 0.8rem;
    padding: 0.6rem 2rem;
  }
  .hero {
    h1 {
      padding: 2rem;
    }
  }
  .banner {
    height: 17vh;
    justify-content: space-evenly;
    font-size: 0.8rem;
    i {
      padding-bottom: 0.3rem;
    }
    .list {
      h4 {
        line-height: 1.1;
        padding-bottom: 0.2rem;
      }
      h6 {
        line-height: 1.4;
      }
    }
  }
}
