@import '../../../sass/main.scss';

.tour {
  width: 18rem;
  height: 38rem;
  margin: 0 auto;
  border: #ccc 1px dotted;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .img-div {
    position: relative;
    height: 20rem;
    img {
      height: 100%;
      background-size: no-repeat contain;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    i {
      opacity: 0;
      position: absolute;
      right: 2.5rem;
      top: 2rem;
      background: #ccc;
      color: $primaryColor;
      padding: 0.1rem 0.25rem;
      border-radius: 5px;
      &:hover {
        color: #2aaec0;
      }
    }
  }
  i {
    color: $primaryColor;
    cursor: pointer;
    transition: all 300ms linear;
    &.fa-caret-square-down {
      font-size: 1.3rem;
      &:hover {
        color: #2aaec0;
      }
    }
  }
  &:hover {
    .fa-window-close {
      opacity: 1;
    }
  }
  .tour-info {
    h2 {
      text-transform: uppercase;
    }
  }
}
