@import '../../../sass/main.scss';

.booking-main {
  max-width: 500px;
  margin: auto;
  padding: 0 2rem;
  .text-area::after {
    content: ' (Optional)';
    font-size: 0.8rem;
    font-style: italic;
  }

  .inputError {
    border: 1px solid red;
  }
}
