@import '../../../sass/main.scss';

.hero {
  background: url('../../../images/hero.jpg') center / cover no-repeat;
  width: 100vw;
  height: 60vh;
  h1 {
    font-size: 3.6rem;
  }
}

.banner {
  width: 100vw;
  height: 13vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
  padding: 0 1rem;
  div {
    width: 100%;
    padding: 0 0.7rem;
  }
  i {
    font-size: 2rem;
  }
}

.banner-secondary {
  width: 100vw;
  height: 17vh;
  margin-top: 5rem;
  background: $greyColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  i {
    margin-bottom: 0.5rem;
  }
}

.hero-secondary {
  background: url('../../../images/cityEvening.jpg') center / cover no-repeat;
  width: 100vw;
  height: 60vh;
  position: relative;
  div {
    position: absolute;
    top: 2rem;
    left: 4rem;
    text-align: center;
  }
}

.footer {
  width: 100vw;
  height: 50vh;
  padding: 2rem;
  background: $secondaryColor;
  .foot-icons {
    align-self: center;
    justify-self: center;
    i {
      margin: 0 0.4rem;
      padding: 6px;
      border-radius: 5px;
      color: $lightColor;
      background: $primaryColor;
      font-size: 1.5rem;
    }
  }
  .foot-info {
    grid-column: 2 / 4;
    align-content: center;
    border-bottom: 2px solid $whiteColor;
    div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
  :nth-child(3) {
    grid-column: 2 / 4;
    display: inline-flex;
    margin-bottom: 1rem;
    p {
      align-self: center;
    }
    span {
      color: $primaryColor;
    }
  }
}
